

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-group">
    <div class="col-xs-8 col-sm-8 col-md-8">
      <h2>Редактирование</h2>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-8 col-sm-8 col-md-8">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>В настоящее время ожидает подтверждения для: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <div class="col-xs-8 col-sm-8 col-md-8">
    <%= f.label :password %> <i>(оставьте поле пустым, если не хотите его менять)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> символов минимум </em>
    <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-8 col-sm-8 col-md-8">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-8 col-sm-8 col-md-8">
    <%= f.label :current_password %> <i>(текущий пароль для подтверждения ваших изменений)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-8 col-sm-8 col-md-8">
    <%= f.submit "Обновить", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<div class="form-group">
  <div class="col-xs-8 col-sm-8 col-md-8">
  <h3>Аннулировать мою учетную запись</h3>

  <p>Недовольны?
    <%= button_to "Аннулировать мою учетную запись", registration_path(resource_name), data: { confirm: "Вы уверены?" },
                  method: :delete, class: "btn btn-danger" %></p>

  <%= link_to "Назад", :back%>
  </div>
</div>