<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-group">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <h2><%= t('.forgot_your_password') %></h2>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-6 col-sm-6 col-md-6">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" ,autocomplete: "email" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <%= f.submit t('.send_me_reset_password_instructions'), class: "btn btn-primary" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-8 col-sm-8 col-md-8">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>

