<h1><%= t('views.events.access_pincode') %></h1>

<%= form_tag('', method: 'post') do |f| %>
  <div class="form-group">
    <%= label 'Пин-код', :pincode %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions">
    <%= submit_tag t('views.save'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to t('views.events.to_main'), events_path %>
